.markdown {
  padding: .9375rem;
  background-color: var(--content);
  & > h1 {
    font-size: 1.5625rem;
  }
  & > h2 {
    font-size: 1.25rem;
  }
  & > h3 {
    font-size: 1.125rem;
  }
  & > p {
    font-size: 1rem;
  }
  & > ul {
    list-style-position:inside;
    margin-left: .625rem;
  }
}