
.about {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  max-width: 75rem;
  gap: 1.25rem;
  &__full {
    grid-column: 1/3;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4375rem;
  }
  &__tag {
    padding: 0.4375rem 0.875rem;
    font-size: 1.125rem;
    background-color: var(--content);
    height: fit-content;
    width: fit-content;
  }
  &__socials {
    padding-top: .625rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
  }
  &__social {
    display: flex;
    width: min-content;
    align-items: center;
    gap: .875rem;
    font-size: 1.25rem;
    padding: 0.3125rem 0.875rem;
    text-decoration: none;
    align-content: center;
    &--icon {
      height: 2rem;
      aspect-ratio: 1/1;
    }
    &--linkedin {
      background-color: white;
      border: 1px solid black;
      color: #0a66c2;
    }
    &--discord {
      background-color: #5865f2;
      color: white;
    }
  }
}
@media screen and (max-width: 48rem) {
  .about {
    display: flex;
    flex-direction: column;
  }
}