:root{
  --bgColor : #333333;
  --textColor: #fff;
  --color: #00b0d7;
  --content: #454545;
  --selection: #515151;
  --bgHome: #030303;
}
@media (prefers-color-scheme: light) {
  :root {
    --bgColor : #ffffff;
    --textColor: #213547;
    --color: #006c85;
    --content: #d4d4d4;
    --selection: #9e9e9e;
    --bgHome: #ececec;
  }
}