:root {
  --bgColor: #333333;
  --text-color: #fff;
  --color: #00b0d7;
  --content: #454545;
  --content-sup-opacity: #525252;
  --content-60pc: #45454599; // transparency percentage
  --bgHome: #030303;
}
@media (prefers-color-scheme: light) {
  :root {
    --bgColor: #ffffff;
    --text-color: #213547;
    --color: #006c85;
    --content: #e6e6e6;
    --content-sup-opacity: #bfbfbf;
    --content-60pc: #e6e6e699;
    --bgHome: #ececec;
  }
}
