.nav {
  position: fixed;
  z-index: 500;
  overflow: hidden;
  height: -webkit-fill-available;
  background-color: var(--bgHome) .9;
  backdrop-filter: blur(6.25rem);
  -webkit-backdrop-filter: blur(6.25rem);
  display: flex;
  flex-direction: column;
  width: var(--width-icon);
  transition-property: width, height,bottom, left;
  transition-duration: .2s;
  transition-delay: .2s ;
  &:hover {
    width: 18.75rem;
  }
  &__a {
    display: flex;
    gap: 0.625rem;
    white-space: nowrap;
    width: max-content;
    flex-wrap: wrap;
    padding: 0.1875rem 0.3125rem;
    align-items: center;
    color: white;
    text-decoration: none;
    &:hover {
      background-color: linear(#fff, transparent);
    }
  }
  &__text {
    font-size: 1rem;
  }
  &__icon {
    aspect-ratio: 1/1;
    height: 1.75rem;
  }
  &__space {
    height: -webkit-fill-available;
  }
  &__menu {
    display: none;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 48rem) {
  .nav {
    height: var(--width-icon);
    bottom: .3125rem;
    left: .3125rem;
    justify-content: flex-end;
    &__menu {
      
      display: block;
      padding: .3125rem;
      height: var(--width-icon);
      width: var(--width-icon);
    }
    &:hover {
      width: inherit;
    }
    &:has(> &__menu--active) {
      height: 100%;
      width: 100vw;
      bottom: 0;
      left: 0;
    }
  }
}
